<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="CadenceEformsFeed" value="https://bxsops029-tfs01.bank.ad.bxs.com/Cadence/99b5db61-335a-4db8-8c29-4359b8776ab1/_packaging/CadenceEformsFeed/nuget/v3/index.json" allowInsecureConnections="true" />
    </packageSources>
    <packageSourceCredentials>
        <CadenceEformsFeed>
            <add key="Username" value="CadenceEformsFeed" />      
            <add key="ClearTextPassword" value="cyqmoq6qsnut2unawsxp7lbqwzu4glwtptx55esxjnxlukrtsdia" />
            <add key="validauthenticationtypes" value="basic" />
        </CadenceEformsFeed>
    </packageSourceCredentials>
    <packageSourceMapping>
        <!-- key value for <packageSource> should match key values from <packageSources> element -->
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="CadenceEformsFeed">
            <package pattern="Cadence*" />
        </packageSource>
    </packageSourceMapping>
</configuration>